.carousel {
    position: relative;
    padding-bottom: 2rem;
}

.navButton {
    position: absolute;
    top: 45%;
    z-index: 1000;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.swiper-button-prev {
    left: -10px;
  }
  .leftbtn{
    left: -2px !important;
  }
  .swiper-button-next {
    right: -20px;
  }